html, body {
  --pixelScale: 2.5px;
  --c0: rgb(241, 229, 198);
  --c1: rgb(214, 186, 144);
  --c2: rgb(228, 208, 171);
  --c3: rgb(163, 123, 94);

  touch-action: none; /* Disables all touch gestures, including pinch zoom */
  overflow: hidden; /* Prevents scrolling and zooming by accident */
  width: 100%;
  height: 100%;
}
body {
  overscroll-behavior: none;
}

#game {
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  contain: strict;
  z-index: 1;
}

canvas {
  /* Enforce pixel-perfect scaling for pixel art */
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Fallback for older browsers */
  transform: none; /* Prevent scaling by default */
}

main {
  display: grid;
  overflow: hidden;
  z-index: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: calc(var(--pixelScale) * 20);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: calc(var(--pixelScale) * 4);
  z-index: 10000;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'mcPixel';
  src: url('./assets/mcPixel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, p, a, span {
  margin: 0;
  font-family: 'mcPixel', sans-serif;
}
h1 {
  font-size: calc(42.2px * 0.5); 
}
h2 {
  font-size: 24.1px; 
}
h3 {
  display: inline-block;
  font-size: 24.1px;
}
p {
  font-size: calc(24.1px * 0.5); 
}
span {
  font-size: calc(24.1px * 0.5);
  cursor: default;
  transition: color 0.2s ease;
}
span:hover {
  color: rgb(97, 70, 60);
}
a {
  opacity: 1;
  font-size: calc(24.1px * 0.5);
  text-decoration: none;
  color: rgb(163, 123, 94);
  transition: color 0.2s ease; /* Smooth transition */
} 
a:hover {
  color: rgb(124, 96, 82);
}
a:active {
  color: rgb(97, 70, 60);
}
ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Optional: Removes any default padding */
  margin: 0;
}

.subMenu li {
  position: relative;
  padding-left: calc((24.1px * 8/7 + 0.5px) * 0.5); /* Space for custom bullet */
}
li a {
  position: relative;
  display: block; /* Make the <a> fill the whole width of the <li> */
  text-decoration: none; /* Remove underline */
  color: rgb(163, 123, 94); /* Default text color */
  transition: color 0.2s ease; /* Smooth color change */
}
.subMenu li::before {
  content: '\2022'; /* Unicode for bullet point */
  font-family: 'mcPixel';
  position: absolute;
  left: 0;
  top: calc(20.7px * -0.5);
  font-size: 20px; /* Size of the bullet */
  color: rgb(163, 123, 94); /* Normal bullet color */
  transition: color 0.2s ease; /* Smooth transition */
}
li:hover::before, li:hover a {
  color: rgb(124, 96, 82);
}
li:active::before, li:active a {
  color: rgb(97, 70, 60);
}

span, li a {
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
}

.menuTitle {
  display: inline-block;
  padding-top: calc(24.1px * 0.5); /* Adds space above based on the font size */
  color: rgb(124, 96, 82);
}

.headButtons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: calc(var(--pixelScale) * 6);
  transition: opacity 0.2s ease; /* Smooth opacity transition */
}

.headButton {
  width: calc(var(--pixelScale) * 18);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 20); /* 18x20 sprites */
  margin: 0 calc(var(--pixelScale) * 2) 0 calc(var(--pixelScale) * 2);
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('./assets/headButtons.png');
  padding: 0;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  transition: opacity 0.2s ease;
  opacity: 1; /* Initially visible */
}
.headButton.hidden {
  opacity: 0.4;
  /* pointer-events: none; /* Disable interaction */
}

#sideMenuWrapper {
  height: 100%;
  width: calc(var(--pixelScale) * 122); /* 24 to align with buttons*/
  background-color: var(--c2);
  padding-top: calc((calc(var(--pixelScale) * 8)) + calc(var(--pixelScale) * 20));
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(1500%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
  box-shadow: calc(var(--pixelScale) * -4) 0 0 var(--c0), calc( var(--pixelScale) * -6) 0 0 rgb(163, 123, 94);
}
#sideMenuWrapper.show {
  transform: translateX(0%);
  opacity: 0.97;
}
@media (max-width: 320px) {
  #sideMenuWrapper {
    left: 15px !important;
    right: auto;
  }
}

.sideMenu {
  display: flex;
  width: calc(var(--pixelScale) * 122) - (var(--pixelScale) * 7);
  padding-right: calc(var(--pixelScale) * 2);
  height: calc(100% - 74px);
  margin: 0 calc(var(--pixelScale) * 4) 0 calc(var(--pixelScale) * 6);
  overflow-y: auto;
  z-index: 10000;
  
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(228, 208, 171) transparent; /* Red scrollbar, no background */
}
/* Webkit-based browsers */
.sideMenu::-webkit-scrollbar, .article::-webkit-scrollbar {
  width: calc(var(--pixelScale) * 2); /* Width of the scrollbar */
}
.sideMenu::-webkit-scrollbar-track, .article::-webkit-scrollbar-track {
  background: transparent; /* Removes scrollbar background */
  margin: var(--pixelScale); /* Adds space around the scrollbar */
}
.sideMenu::-webkit-scrollbar-thumb, .article::-webkit-scrollbar-thumb {
  background-color: rgb(176, 143, 119); /* Default scrollbar color */
  border: calc(var(--pixelScale) / 2) solid transparent; /* Space around the thumb */
}
.sideMenu::-webkit-scrollbar-thumb:hover, .article::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163, 123, 94); /* Hover state */
}
.sideMenu::-webkit-scrollbar-thumb:active, .article::-webkit-scrollbar-thumb:hover {
  background-color: rgb(137, 100, 95); /* Active state */
}

#articleWrapper {
  --pxScaleMultiplier: 2;
  height: calc(100% - (calc(var(--pixelScale) * 28 * 2.6)));
  width: calc(100% - calc(var(--pixelScale) * (122 + 21)) - calc(var(--pixelScale) * 2 * 28));
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translateX(1500%);
  position: fixed; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 28);
  left: calc(var(--pixelScale) * 28);
  padding: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4);
}
#articleWrapper.show {
  transform: translateX(0); /* Adjust for the div's dimensions */
  opacity: 0.97;
}

.article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100% - var(--pixelScale) * var(--pxScaleMultiplier) * 2);
  top: calc(var(--pixelScale) * 2);
  left: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 1);
  width: calc(100% - var(--pixelScale) * var(--pxScaleMultiplier) * 3);
  padding-right: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 1);
  z-index: 1;
  overflow-y: auto;
  color: rgb(124, 96, 82);
  opacity: 1;
  transition: opacity 0.2s ease;

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(228, 208, 171) transparent; /* Red scrollbar, no background */
}
.article.fade-out {
  opacity: 0;
}
.article.fade-in {
  opacity: 1;
}

#meterWrapper {
  --pxScaleMultiplier: 1;
  height: calc(var(--pixelScale) * (20 + 6 + 4));
  width: calc(var(--pixelScale) * 222);
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translateX(1500%);
  position: fixed; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 4);
  left: 50%;
}
#meterWrapper.show {
  transform: translateX(-50%); /* Adjust for the div's dimensions */
  opacity: 0.97;
}

#meterWrapper .corner, #articleWrapper .corner {
  background-image: url('./assets/uiCorners3.png');
}
#meterWrapper .pxDivBG, #articleWrapper .pxDivBG {
  --c1: rgb(228, 208, 171);
  --c2: rgb(241, 229, 198);
}

#sideMenuWrapper.fade-out, #meterWrapper.fade-out, #articleWrapper.fade-out {
  opacity: 0; /* Make the element fade out */
}

#meterBG {
  position: relative;
  top: calc(var(--pixelScale) * 7);
  left: calc(var(--pixelScale) * 7);
  height: calc(var(--pixelScale) * 7);
  width: calc(var(--pixelScale) * (222 - 14));
  background-color: blue;
  box-shadow: 
    calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 0 red, /* Left */
    calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 0 red, /* Right */
    0 calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 red, /* Top */
    0 calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 red; /* Bottom */
  z-index: 1005;
}

#meterFG {
  background-color: lime;
  height: 100%;
  width: 66.6%;
  max-width: 100%;
}

#meterLabel {
  position: relative;
  top: calc(var(--pixelScale) * 9);
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  z-index: 1001;
}

.pxDivWrapper {
  min-width: calc(var(--pixelScale) * 10 * var(--pxScaleMultiplier));
  min-height: calc(var(--pixelScale) * 10 * var(--pxScaleMultiplier));
  z-index: 1000;
}

.pxDivBG {
  height: calc(100% - (calc(var(--pixelScale) * 8 * var(--pxScaleMultiplier))));
  width: calc(100% - (calc(var(--pixelScale) * 8 * var(--pxScaleMultiplier))));
  background-color: var(--c1);
  margin: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier));
  box-shadow: 
    calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Left */
    calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Right */
    0 calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 var(--c1), /* Top */
    0 calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 var(--c1), /* Bottom */
    calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Left */
    calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Right */
    0 calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Top */
    0 calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Bottom */
    calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Left */
    calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Right */
    0 calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 var(--c3), /* Top */
    0 calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 var(--c3); /* Bottom */
  position: absolute; /* Position relative to the wrapper */
  top: 0;
  left: 0;
}
.corner {
  position: absolute;
  background-image: url('./assets/uiCorners2.png');
  background-size: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 3) calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 3);
  padding: 0;
  border: none;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  width: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)); /* 4px * 4px */
  height: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier));
}
.corner.top-left {
  background-position: 0 0;
  top: 0;
  left: 0;
}
.corner.top-right {
  background-position: calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier)) 0;
  top: 0;
  right: 0;
}
.corner.bottom-left {
  background-position: 0 calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier));
  bottom: 0;
  left: 0;
}
.corner.bottom-right {
  background-position: calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier)) calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier));
  bottom: 0;
  right: 0;
}

.fadeOut {
  transition: opacity 0.2 ease;
  opacity: 0;
}