:root {
  --pixelScale: 2.5px;
  --c0: rgb(241, 229, 198);
  --c1: rgb(214, 186, 144);
  --c2: rgb(228, 208, 171);
  --c3: rgb(163, 123, 94);
}

loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #809f60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  cursor: default;
  z-index: 10000000;
}
#loadingText {
  color: #586460;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@keyframes fade {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
.dot:nth-child(1) {
  animation: fade 2s infinite;
}
.dot:nth-child(2) {
  animation: fade 2s infinite 0.2s;
}
.dot:nth-child(3) {
  animation: fade 2s infinite 0.4s;
}

html, body {
  touch-action: none; /* Disables all touch gestures, including pinch zoom */
  overflow: hidden; /* Prevents scrolling and zooming by accident */
  width: 100%;
  height: 100%;
  background-color: black;
}
body {
  overscroll-behavior: none;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.logo {
  position: relative;
  top: calc(var(--pixelScale) * 0);
  left: calc(var(--pixelScale) * 0);
  height: calc(var(--pixelScale) * 20);
  image-rendering: pixelated;
  opacity: 0;
}

#game {
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  contain: strict;
  z-index: 1;
}

canvas {
  /* Enforce pixel-perfect scaling for pixel art */
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Fallback for older browsers */
  transform: none; /* Prevent scaling by default */
}

main {
  display: none;
  overflow: hidden;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: calc(var(--pixelScale) * 20);
  display: none;
  justify-content: space-between;
  opacity: 1;
  align-items: center; 
  padding: calc(var(--pixelScale) * 4);
  z-index: 10000;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
header * {
  /* Re-enable pointer events for interactive children */
  pointer-events: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: calc(var(--pixelScale) * 20);
  display: none;
  justify-content: space-between;
  opacity: 1;
  align-items: center; 
  padding: calc(var(--pixelScale) * 4);
  z-index: 500;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
footer * {
  /* Re-enable pointer events for interactive children */
  pointer-events: auto;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'mcPixel';
  src: url('./assets/mcPixel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, p, a, span {
  margin: 0;
  font-family: 'mcPixel', sans-serif;
}
h1 {
  font-size: calc(42.2px * 0.5); 
}
h2 {
  font-size: 24.1px; 
}
h3 {
  display: inline-block;
  font-size: 24.1px;
}
p {
  font-size: 12px; /*calc(24.1px * 0.5)*/
}
span {
  font-size: calc(24.1px * 0.5);
  cursor: default;
  transition: color 0.2s ease;
}
span:hover {
  color: rgb(97, 70, 60);
}
a {
  opacity: 1;
  font-size: calc(24.1px * 0.5);
  text-decoration: none;
  color: rgb(163, 123, 94);
  transition: color 0.2s ease; /* Smooth transition */
} 
a:hover {
  color: rgb(124, 96, 82);
}
a:active {
  color: rgb(97, 70, 60);
}
ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Optional: Removes any default padding */
  margin: 0;
}

.subMenu li {
  position: relative;
  padding-left: calc((24.1px * 8/7 + 0.5px) * 0.5); /* Space for custom bullet */
}
li a {
  position: relative;
  display: block; /* Make the <a> fill the whole width of the <li> */
  text-decoration: none; /* Remove underline */
  color: rgb(163, 123, 94); /* Default text color */
  transition: color 0.2s ease; /* Smooth color change */
}
.subMenu li::before {
  content: '\2022'; /* Unicode for bullet point */
  font-family: 'mcPixel';
  position: absolute;
  left: 0;
  top: calc(20.7px * -0.5);
  font-size: 20px; /* Size of the bullet */
  color: rgb(163, 123, 94); /* Normal bullet color */
  transition: color 0.2s ease; /* Smooth transition */
}
li:hover::before, li:hover a {
  color: rgb(124, 96, 82);
}
li:active::before, li:active a {
  color: rgb(97, 70, 60);
}

span, li a {
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
}

.menuTitle {
  display: inline-block;
  padding-top: calc(24.1px * 0.5); /* Adds space above based on the font size */
  color: rgb(124, 96, 82);
}

.headButtons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: calc(var(--pixelScale) * 6);
  transition: opacity 0.2s ease; /* Smooth opacity transition */
}

.headButton {
  width: calc(var(--pixelScale) * 18);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 20); /* 18x20 sprites */
  margin: 0 calc(var(--pixelScale) * 2) 0 calc(var(--pixelScale) * 2);
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('./assets/headButtons.png');
  background-size: calc(var(--pixelScale) * 18 * 3) calc(var(--pixelScale) * 20 * 7);
  padding: 0;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  transition: opacity 0.2s ease;
  opacity: 1; /* Initially visible */
}
.headButton.hidden {
  opacity: 0.4;
  /* pointer-events: none; /* Disable interaction */
}

.closeMenuButton {
  position: absolute; /* Position relative to its parent (articleWrapper) */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right side */
  width: calc(var(--pixelScale) * 8);  /* 8x8 sprites */
  height: calc(var(--pixelScale) * 8); /* 8x8 sprites */
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('./assets/closeButtons.png');
  padding: 0;
  opacity: 0.9;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  z-index: 2000;
  margin-right: 27.5px;
  margin-top: 27.5px;
}
#closeMeter {
  margin-right: 16.25px;
  margin-top: 16.5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

#sideMenuWrapper {
  height: 100%;
  width: calc(var(--pixelScale) * 122); /* 24 to align with buttons*/
  background-color: var(--c2);
  padding-top: calc((calc(var(--pixelScale) * 8)) + calc(var(--pixelScale) * 20));
  position: fixed;
  cursor: default;
  top: 0;
  right: 0;
  transform: translateX(1500%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1100;
  box-shadow: calc(var(--pixelScale) * -4) 0 0 var(--c0), calc( var(--pixelScale) * -6) 0 0 rgb(163, 123, 94);
}
#sideMenuWrapper.show {
  transform: translateX(0%);
  opacity: 0.97;
}
@media (max-width: 320px) {
  #sideMenuWrapper {
    left: 15px !important;
    right: auto;
  }
}

.sideMenu {
  display: flex;
  width: calc(var(--pixelScale) * 122) - (var(--pixelScale) * 7); /* 115 */
  padding-right: calc(var(--pixelScale) * 2);
  height: calc(100% - 74px);
  margin: 0 calc(var(--pixelScale) * 4) 0 calc(var(--pixelScale) * 6);
  overflow-y: auto;
  z-index: 10000;
  
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(228, 208, 171) transparent; /* Red scrollbar, no background */
}
/* Webkit-based browsers */
.sideMenu::-webkit-scrollbar, .article::-webkit-scrollbar, #charSettingsOptionsWrapper::-webkit-scrollbar, #inventoryScrollContainer::-webkit-scrollbar, #taskItemsContainer::-webkit-scrollbar {
  width: calc(var(--pixelScale) * 2); /* Width of the scrollbar */
  height: calc(var(--pixelScale) * 2); /* Width of the scrollbar */
}
.sideMenu::-webkit-scrollbar-track, .article::-webkit-scrollbar-track, #charSettingsOptionsWrapper::-webkit-scrollbar-track,  #inventoryScrollContainer::-webkit-scrollabar-track, #taskItemsContainer::-webkit-scrollbar-track {
  background: transparent; /* Removes scrollbar background */
  margin: var(--pixelScale); /* Adds space around the scrollbar */
}
.sideMenu::-webkit-scrollbar-thumb, .article::-webkit-scrollbar-thumb, #charSettingsOptionsWrapper::-webkit-scrollbar-thumb,  #inventoryScrollContainer::-webkit-scrollbar-thumb, #taskItemsContainer::-webkit-scrollbar-thumb {
  background-color: rgb(176, 143, 119); /* Default scrollbar color */
  border: calc(var(--pixelScale) / 2) solid transparent; /* Space around the thumb */
}
.sideMenu::-webkit-scrollbar-thumb:hover, .article::-webkit-scrollbar-thumb:hover, #charSettingsOptionsWrapper::-webkit-scrollbar-thumb:hover,  #inventoryScrollContainer::-webkit-scrollbar-thumb:hover, #taskItemsContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163, 123, 94); /* Hover state */
}
.sideMenu::-webkit-scrollbar-thumb:active, .article::-webkit-scrollbar-thumb:active, #charSettingsOptionsWrapper::-webkit-scrollbar-thumb:active,  #inventoryScrollContainer::-webkit-scrollbar-thumb:active, #taskItemsContainer::-webkit-scrollbar-thumb:active {
  background-color: rgb(137, 100, 95); /* Active state */
}

.article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr 0.1fr; /* Reserved column 4 */
  grid-auto-rows: auto;
  grid-template-rows: repeat(20, auto) minmax(0, 1fr);
  gap: calc(24.1px * 0.5);
  height: calc(100% - var(--pixelScale) * var(--pxScaleMultiplier) * 2);
  top: calc(var(--pixelScale) * 2);
  left: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 1);
  width: calc(100% - var(--pixelScale) * var(--pxScaleMultiplier) * 4); /* Reduced width */
  padding-right: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 2); /* Add padding on right */
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgb(124, 96, 82);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.reserved {
  background-color: transparent;
  grid-area: 1 / 4 / 2 / 5;
}

.article.fade-out {
  opacity: 0;
}
.article.fade-in {
  opacity: 1;
}

/* Adjusted styles for the #articleWrapper */
#articleWrapper {
  --pxScaleMultiplier: 2;
  height: calc(100% - (calc(var(--pixelScale) * 28 * 2.6)));
  width: calc(100% - calc(var(--pixelScale) * (122 + 21)) - calc(var(--pixelScale) * 2 * 28));
  max-width: 1102.5px;
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translateX(1500%);
  position: fixed; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 28);
  left: calc(var(--pixelScale) * 28);
  padding: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4);
  z-index: 1002;
}
#articleWrapper.show {
  transform: translateX(0); /* Adjust for the div's dimensions */
  opacity: 0.97;
}
@media (min-width: 1600px) {
  #articleWrapper {
    position: absolute;
    left: calc((100vw - 287.5px - 70px) / 2 - (1102.5px / 2));
  }
}


#tasksWrapper {
  display: none;
  flex-direction: column;
  --pxScaleMultiplier: 1.5;
  position: fixed;
  width: calc(var(--pixelScale) * 202);
  height: calc(var(--pixelScale) * 230);
  left: calc(50% + 1px);
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
#tasksWrapper.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease;
}
#tasksWrapper.show {
  display: flex;
}

#tasksHeadContainer {
  margin-top: calc(var(--pixelScale) * 5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  padding-bottom: calc(var(--pixelScale) * 3.5);
  z-index: 20;
  cursor: default;
}
#tasksTitle {
  position: relative;
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  cursor: default;
  z-index: 1001;
  padding-top: calc(var(--pixelScale) * 3);
  padding-left: calc(var(--pixelScale) * 10);
}
#closeTasks {
  position: relative;
  right: 15px;
  margin-top: calc(var(--pixelScale) * 2.5);
  opacity: 1;
  cursor: pointer;
  top: calc(var(--pixelScale) * 2);
  margin-right: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
}
#closeTasks.inactive {
  pointer-events: none;
  display: none;
  cursor: default;
}

#taskItemsContainer {
  position: relative;
  width: calc(100% - var(--pixelScale) * 8);
  height: calc(100% - var(--pixelScale) * 28);
  z-index: 100;
  opacity: 1;
  padding-top: calc(var(--pixelScale) * 1);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
#taskItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--pixelScale) * 2);
  position: relative;
  width: calc(100% - var(--pixelScale) * 12);
  height: fit-content;
  left: calc(50% + var(--pixelScale) * 3);
  transform: translateX(-50%);
  z-index: 20;
  padding-bottom: calc(var(--pixelScale) * 2);
}
.taskItem {
  --pxScaleMultiplier: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixelScale) * 4);
  padding: calc(var(--pixelScale) * 5);
  height: fit-content;
  width: calc(100% - calc(var(--pixelScale) * 10));
  z-index: 20;
}
.taskLabel {
  position: relative;
  text-align: left;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  cursor: default;
  z-index: 1001;
}
.taskLabel.list {
  padding-top: 15px;
  text-align: center;
}
.taskIcon {
  position: relative;
  z-index: 10;
  top: 1px;
  padding-left: calc(var(--pixelScale) * 2);
  min-width: calc(var(--pixelScale) * 14);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 20); /* 18x20 sprites */
  margin: 0;
  border: none;
  background: transparent;
  background-image: url('./assets/footButtons.png');
  background-size: calc(var(--pixelScale) * 18 * 3) calc(var(--pixelScale) * 20 * 6);
  background-position-x: -5px;
  background-position-y: calc(var(--pixelScale) * -40);
  padding: 0;
  cursor: default;
  pointer-events: none;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  transition: opacity 0.2s ease;
  opacity: 1;
}
.taskIcon.complete {
  background-image: url('./assets/footButtons2.png');
}


#meterWrapper {
  --pxScaleMultiplier: 1;
  height: calc(var(--pixelScale) * (20 + 6 + 4));
  width: calc(var(--pixelScale) * 222);
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translateX(1500%);
  position: fixed; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 4);
  left: 50%;
  cursor: default;
}
#meterWrapper.show {
  transform: translateX(-50%); /* Adjust for the div's dimensions */
  opacity: 0.97;
  z-index: 20000;
}
#meterWrapper .corner, .taskItem .corner, #articleWrapper .corner, #tasksWrapper .corner, .inventoryItemWrapper .corner,  #dialogueWrapper .corner, #bottomLabelWrapper .corner, #charSettingsTitleWrapper .corner, .pxSelector .corner, #topContextWrapper .corner, #mainGameMenuSubWrapper .corner, .mainGameMenuLabelWrapper .corner {
  background-image: url('./assets/uiCorners3.png');
}
#inventoryOpenLabel .corner, .inventoryQuantityWrapper .corner {
  background-image: url('./assets/uiCorners3b.png');
}
 /*{
  background-image: url('./assets/uiCorners4.png');
}*/
#meterWrapper .pxDivBG, .taskItem .pxDivBG, #articleWrapper .pxDivBG, #tasksWrapper .pxDivBG, .inventoryItemWrapper .pxDivBG, #dialogueWrapper .pxDivBG, #bottomLabelWrapper .pxDivBG, #charSettingsTitleWrapper .pxDivBG, .pxSelector .pxDivBG, #topContextWrapper .pxDivBG, #mainGameMenuSubWrapper .pxDivBG, .mainGameMenuLabelWrapper .pxDivBG {
  --c1: rgb(228, 208, 171);
  --c2: rgb(241, 229, 198);
}
#inventoryOpenLabel .pxDivBG, .inventoryQuantityWrapper .pxDivBG {
  --c1: rgb(228, 208, 171);
  --c2: rgb(241, 229, 198);
  margin: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier));
  box-shadow: 
    calc(var(--pixelScale) * -2 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Left */
    calc(var(--pixelScale) * 2 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Right */
    0 calc(var(--pixelScale) * -2 * var(--pxScaleMultiplier)) 0 var(--c1), /* Top */
    0 calc(var(--pixelScale) * 2 * var(--pxScaleMultiplier)) 0 var(--c1), /* Bottom */
    calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Left */
    calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Right */
    0 calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Top */
    0 calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Bottom */
    calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Left */
    calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Right */
    0 calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 var(--c3), /* Top */
    0 calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 var(--c3); /* Bottom */
}
 /*{
  --c1: rgb(182, 137, 98);
  --c2: rgb(196, 154, 108);
  --c3: rgb(144, 98, 93);
}*/

#dialogueContextWrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  min-width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  gap: calc(var(--pixelScale) * 4);
  opacity: 1;
  transition: opacity 0.2s ease;
}
#dialogueContextWrapper.hidden {
  opacity: 0;
  pointer-events: none;
}
#dialogueContextWrapper.hidden * {
  pointer-events: none;
}

#charSettingsWrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: calc(var(--pixelScale) * 1); /* replaced by padding for the scrollbar */
  gap: calc(var(--pixelScale) * 4);
  padding-right: calc(var(--pixelScale) * 1); /* Due to offset of left button */
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
#charSettingsWrapper.show {
  opacity: 0.97;
  pointer-events: auto;
}
#charSettingsWrapper * {
  pointer-events: none;
}
#charSettingsWrapper.show * {
  pointer-events: auto;
}

#charSettingsTitleWrapper {
  --pxScaleMultiplier: 1;
  height: fit-content;
  width: fit-content;
  min-width: fit-content;
  gap: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
  position: relative; /* Position relative to the viewport */
  cursor: default;
  pointer-events: none;
}

.charSettingsSelector {
  top: 0; /* Align to the top */
  width: calc(var(--pixelScale) * 15);  /* 14x16 sprites */
  height: calc(var(--pixelScale) * 16); /* 14x16 sprites */
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('./assets/smallButtons.png');
  padding: 0;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  z-index: 2000;
}

#charSettingsTitleWrapper {
  display: flex;
  opacity: 0.97;
}

#charSettingsOptionsWrapper { 
  display: flex;
  flex-direction: column;
  opacity: 0.97;
  height: calc(var(--pixelScale) * 33);
  max-height: calc(var(--pixelScale) * 33);
  width: fit-content;
  max-width: 100vw;
  padding-bottom: calc(var(--pixelScale) * 4);
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

#inventoryWrapper {
  display: none;
  position: relative;
  left: 50%;
  bottom: calc(var(--pixelScale) * 4);
  transform: translateX(calc(-50% - 10px));
  opacity: 0;
  height: calc(var(--pixelScale) * 55);
  width: fit-content;
  max-width: 100vw;
  padding-bottom: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
}
#inventoryWrapper.fade-in {
  opacity: 0.97;
  transition: opacity 0.2s ease;
}
#inventoryWrapper.show {
  display: block;
}

#inventoryHeadContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

#inventoryScrollWrapper {
  width: calc(var(--pixelScale) * 239.5);
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixelScale) * 2);
}

#inventoryScrollContainer {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  max-width: 100vw;
  margin-left: 10px;
  margin-right: 10px;
}

.inventoryItemWrapper {
  display: flex;
  position: relative;
  --pxScaleMultiplier: 1;
  height: calc(var(--pixelScale) * 28);
  max-height: calc(var(--pixelScale) * 28);
  width: calc(var(--pixelScale) * 28);
  min-width: calc(var(--pixelScale) * 28) !important;
  margin-bottom: calc(var(--pixelScale) * 2);
}

#inventoryOpenLabel {
  position: relative;
  opacity: 0.97;
  --pxScaleMultiplier: 1;
  padding: calc(var(--pixelScale) * 1) calc(var(--pixelScale) * 4) calc(var(--pixelScale) * 1) calc(var(--pixelScale) * 4);
  height: fit-content;
  width: fit-content;
  cursor: default;
  margin-left: calc(var(--pixelScale) * 0);
  margin-bottom: calc(var(--pixelScale) * 2);
}

#closeInventory {
  position: relative;
  right: 15px;
  margin: 0;
  opacity: 1;
  cursor: pointer;
  top: calc(var(--pixelScale) * 2);
  margin-right: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
}

#inventoryOpenLabelText {
  position: relative;
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  cursor: default;
  z-index: 1001;
  padding-bottom: calc(var(--pixelScale) * 1);
}

.inventoryItem {
  all: unset;
  position: relative;
  background: transparent;
  border: none;
  background-image: url(./assets/items.png);
  background-size: calc(var(--pixelScale) * 16 * 3) calc(var(--pixelScale) * 16 * 8);
  background-position-x: calc(var(--pixelScale) * 16 * -0);
  image-rendering: pixelated;
  padding: 0;
  height: calc(var(--pixelScale) * 16);
  width: calc(var(--pixelScale) * 16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.inventoryItem.show {
  opacity: 1;
}

.inventoryQuantityWrapper {
  position: relative;
  --pxScaleMultiplier: 1;
  padding: calc(var(--pixelScale) * 1);
  height: calc(var(--pixelScale) * 10);
  width: calc(var(--pixelScale) * 10);
  cursor: default;
  left: calc(var(--pixelScale) * 1.5);
  top: calc(var(--pixelScale) * 17.5);
  margin-left: calc(var(--pixelScale) * 0);
  margin-bottom: calc(var(--pixelScale) * 2);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.inventoryQuantityWrapper.show {
  opacity: 1;
}

.inventoryQuantityText {
  position: relative;
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  cursor: default;
  z-index: 1001;
  padding-left: calc(var(--pixelScale) * 1);
  top: calc(var(--pixelScale) * -0.3);
  left: calc(var(--pixelScale) * 0.1);
}

.charSettingsWrapper {
  position: relative;
  left: 0;
  display: grid;
  gap: calc(var(--pixelScale) * 1);
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr 1fr;
  max-height: calc(var(--pixelScale) * 33);
  height: calc(var(--pixelScale) * 33);
  width: calc(var(--pixelScale) * 172); /* can make responsive for vw */
  opacity: 1;
  transition: opacity 0.2s ease;
  padding-left: calc(var(--pixelScale) * 2);
  padding-right: calc(var(--pixelScale) * 2);
  pointer-events: auto;
}
.charSettingsWrapper.hidden {
  opacity: 0;
  pointer-events: none !important;
}
.charSettingsWrapper.hidden * {
  pointer-events: none !important;
}

.cls-b-hair, .cls-f-hair,
.cls-b-eyes, .cls-f-eyes,
.cls-b-top, .cls-f-top,
.cls-b-bottom, .cls-f-bottom,
.cls-b-shoe, .cls-f-shoe {
    transition: fill 0.2s ease;
}

#charWardrobeSettings {
  grid-template-columns: repeat(18, 1fr) calc(var(--pixelScale) * 16.5) calc(var(--pixelScale) * 16.5);
  top: calc(var(--pixelScale) * -33);
}

#skinToneToggleWrapper {
  grid-area: 1/1/span 2/span 8;
}
#hairColorToggleWrapper {
  grid-area: 1/9/span 1/span 5;
}
#eyeColorToggleWrapper {
  grid-area: 2/9/span 1/span 5;
}
#blushToggleWrapper {
  grid-area: 1/14/span 1/span 7;
}
#beardToggleWrapper {
  grid-area: 2/14/span 1/span 7;
}
#topColorToggleWrapper {
  grid-area: 1/1/span 1/span 8;
}
#glassesToggleWrapper {
  grid-area: 1/9/span 1/span 10;
}
#bottomColorToggleWrapper {
  grid-area: 2/1/span 1/span 9;
}
#shoeColorToggleWrapper {
  grid-area: 2/10/span 1/span 9;
}
#charSpinControl {
  grid-area: 1/19/span 2/span 2;
}

#charSettingsTitle {
  position: relative;
  left: calc(var(--pixelScale) * 6);
  top: calc(var(--pixelScale) * 3);
  min-width: calc(var(--pixelScale) * (72));
  max-width: calc(var(--pixelScale) * (182));
  padding-right: calc(var(--pixelScale) * 12);
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  z-index: 1001;
  padding-bottom: 16px;
}

.pxSelector {
  display: flex;
  grid-column: span 1;
  position: relative;
  height: auto;
  width: auto;
  --pxScaleMultiplier: 1;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}

.pxSelectorLabel {
  position: relative;
  left: calc(var(--pixelScale) * 6);
  top: calc(var(--pixelScale) * 3);
  width: calc(100% - var(--pixelScale) * 11);
  padding-right: calc(var(--pixelScale) * 10);
  text-align: left;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  z-index: 1001;
  padding-bottom: calc(var(--pixelScale) * 6);
}

.pxSelectorToggle {
  all: unset;
  margin-top: calc(var(--pixelScale) * 4);
  height: calc(var(--pixelScale) * 8);
  pointer-events: visible;
  cursor: pointer;
  margin-right: calc(var(--pixelScale) * 4.5);
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  z-index: 1005;
}

#skinToneToggleWrapper {
  flex-direction: column;
}

#skinToneLabel {
  top: calc(var(--pixelScale) * 4);
}

#skinTonePalette {
  position: absolute;
  bottom: calc(var(--pixelScale) * 5.5);
  background-image: url(./assets/skinTonePalette.png);
  background-size: calc(var(--pixelScale) * 54) calc(var(--pixelScale) * 12 * 9);
  image-rendering: pixelated;
  height: calc(var(--pixelScale) * 12);
  width: calc(var(--pixelScale) * 54);
  margin-left: calc(var(--pixelScale) * 6);
  z-index: 1005;
}

#skinToneSelectorsWrapper{
  display: flex;
  gap: calc(var(--pixelScale) * 1);
  position: absolute;
  bottom: calc(var(--pixelScale) * 5.5);
  margin-left: calc(var(--pixelScale) * 5.5);
}

.skinToneSelector {
  all: unset;
  position: relative;
  z-index: 1010;
  background-image: url(./assets/skinToneSelector.png);
  background-size: calc(var(--pixelScale) * 6) calc(var(--pixelScale) * 12);
  image-rendering: pixelated;
  height: calc(var(--pixelScale) * 12);
  width: calc(var(--pixelScale) * 6);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.skinToneSelector.show {
  opacity: 1;
}

.basicToggle {
  all: unset;
  margin-top: calc(var(--pixelScale) * 4);
  margin-right: calc(var(--pixelScale) * 4.5);
  height: calc(var(--pixelScale) * 8);
  min-width: calc(var(--pixelScale) * 8);
  background-image: url(./assets/charSettingsButtons.png);
  image-rendering: pixelated;
  opacity: 1;
  pointer-events: visible;
  cursor: pointer;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  z-index: 1005;
}

#autoEyesToggle {
  position: absolute;
  top: calc(var(--pixelScale) * 4);
  margin-top: calc(var(--pixelScale) * 0);
  right: calc(var(--pixelScale) * 4.5);
  height: calc(var(--pixelScale) * 8);
  min-width: calc(var(--pixelScale) * 8);
  background-image: url(./assets/charSettingsButtons.png);
  background-size: 60px 60px;
  background-position: 0 -40px;
  image-rendering: pixelated;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  cursor: pointer;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  z-index: 1050;
}
#autoEyesToggle.show {
  opacity: 1;
  pointer-events: visible;
}
#eyesColorToggle {
  position: absolute;
  top: calc(var(--pixelScale) * 4);
  right: calc(var(--pixelScale) * 4.5);
  z-index: -1000;
}


.colorToggle {
  height: calc(var(--pixelScale) * 8);
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.colorToggle.hidden {
  opacity: 0;
}

#charSelectorArrowsWrapper {
  align-items: center;
  height: fit-content;
  width: calc(var(--pixelScale) * 100);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.charSelectorArrowsPairWrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}
.charSelectorArrowsPairWrapper.show {
  opacity: 1;
  pointer-events: auto;
}

#charPairArrowsHair {
  margin-top: calc(var(--pixelScale) * -8);
}
#charPairArrowsTops {
  margin-top: calc(var(--pixelScale) * -4);
  margin-left: 4%;
  width: 92%;
}
#charPairArrowsBottoms {
  margin-top: calc(var(--pixelScale) * 15);
  margin-left: 4%;
  width: 92%;
}
.charSelectorArrow {
  all: unset;
  width: calc(var(--pixelScale) * 5 * 1.5);  /* 5x8 sprites */
  height: calc(var(--pixelScale) * 8 * 1.5);  /* 5x8 sprites */
  background-image: url('./assets/charSelectorArrows.png');
  background-size: calc(var(--pixelScale) * 5 * 3 * 1.5) calc(var(--pixelScale) * 8 * 2 * 1.5);
  image-rendering: pixelated;
  cursor: pointer;
}

#mainGameMenuWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--pixelScale) * 3);
  position: fixed;
  left: calc(var(--pixelScale) * 4);
  bottom: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
  opacity: 0.97;
  pointer-events: none;
}
#mainGameMenuWrapper * {
  pointer-events: auto;
}
#mainGameMenuWrapper.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
#mainGameMenuWrapper.hidden * {
  opacity: 0;
  pointer-events: none;
}

#mainGameMenuToggle {
  width: calc(var(--pixelScale) * 18);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 20); /* 18x20 sprites */
  margin: 0;
  border: none;
  background: transparent;
  background-image: url('./assets/footButtons.png');
  background-size: calc(var(--pixelScale) * 18 * 3) calc(var(--pixelScale) * 20 * 6);
  padding: 0;
  cursor: pointer;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  transition: opacity 0.2s ease;
  opacity: 1;
}
#mainGameMenuToggle.toggled {
  /* redundant */
  opacity: 1;
}
#mainGameMenuSubWrapper {
  --pxScaleMultiplier: 1;
  position: relative;
  width: calc(var(--pixelScale) * 18);
  height: calc(var(--pixelScale) * 60);
  opacity: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--pixelScale) * 5);
  transition: opacity 0.15s ease, transform 0.15s ease;
  transform: translateY(1px);
  left: -1500%;
  pointer-events: none;
  cursor: default;
}
#mainGameMenuSubWrapper.show {
  left: auto;
  opacity: 0.97;
  transform: translateY(0);
  pointer-events: auto;
}
.mainGameMenuSubToggle {
  all: unset;
  position: relative;
  background: transparent;
  background-image: url('./assets/footButtons.png');
  background-size: calc(var(--pixelScale) * 18 * 3);
  background-position-x: calc(var(--pixelScale) * -5);
  image-rendering: pixelated; /* Prevent anti-aliasing */
  width: calc(var(--pixelScale) * 8); /* 18x20 sprites */
  height: calc(var(--pixelScale) * 8); /* 18x20 sprites */
  transition: opacity 0.2s ease;
  cursor: pointer;
  z-index: 10;
  margin-left: calc(var(--pixelScale) * 5);
  bottom: calc(var(--pixelScale) * 6);
}
#inventoryToggle {
  background-position-y: calc(var(--pixelScale) * -85);
}
#tasksToggle {
  background-position-y: calc(var(--pixelScale) * -45);
}
#achievementsToggle {
  background-position-y: calc(var(--pixelScale) * -65);
}
#settingsToggle {
  background-position-y: calc(var(--pixelScale) * -105);
}

.footButton {
  width: calc(var(--pixelScale) * 18);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 20); /* 18x20 sprites */
  margin: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('./assets/headButtons.png');
  padding: 0;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  transition: opacity 0.2s ease;
  opacity: 0; /* Initially visible */
  pointer-events: none; /* Disable interaction */
}
.footButton.show {
  opacity: 0.97;
  pointer-events: visible; /* Disable interaction */
}
.footButton.small {
  width: calc(var(--pixelScale) * 16);  /* 18x20 sprites */
  height: calc(var(--pixelScale) * 16);
  background-image: url('./assets/smallSquareButtons.png');
}

#randomiseCharToggle {
  position: relative;
}

#bottomLabelWrapper {
  --pxScaleMultiplier: 1;
  height: fit-content;
  width: fit-content;
  min-width: fit-content;
  opacity: 0;
  gap: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
  position: relative; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 2.5);
  pointer-events: none;
}
#bottomLabelWrapper.show {
  opacity: 0.9;
}

#bottomLabel {
  position: relative;
  left: calc(var(--pixelScale) * 6);
  top: calc(var(--pixelScale) * 3);
  min-width: calc(var(--pixelScale) * (6));
  max-width: calc(var(--pixelScale) * (182));
  padding-right: calc(var(--pixelScale) * 12);
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  color: rgb(97, 70, 60);
  z-index: 1001;
  padding-bottom: 16px;
}

#mainGameMenuCombiWrapper {
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixelScale) * 2);
  align-items: end;
  pointer-events: none;
}
#mainGameMenuCombiWrapper * {
  pointer-events: auto;
}
#mainGameMenuLabelsWrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: calc(var(--pixelScale) * 4);
  pointer-events: none;
}
#mainGameMenuLabelsWrapper * {
  pointer-events: auto;
}

.mainGameMenuLabelWrapper{
  --pxScaleMultiplier: 1;
  height: fit-content;
  width: fit-content;
  min-width: fit-content;
  opacity: 0;
  gap: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
  position: relative; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 2);
  margin-top: calc(var(--pixelScale) * -2.75);
  pointer-events: none;
  /*left: -1500%;*/
}
.mainGameMenuLabelWrapper.show {
  left: 0;
  opacity: 0.9;
}
.mainGameMenuLabel {
  position: relative;
  left: calc(var(--pixelScale) * 6);
  top: calc(var(--pixelScale) * 3);
  min-width: calc(var(--pixelScale) * (6));
  max-width: calc(var(--pixelScale) * (182));
  padding-right: calc(var(--pixelScale) * 12);
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  cursor: default;
  color: rgb(97, 70, 60);
  z-index: 1001;
  padding-bottom: 16px;
}

#dialogueWrapper {
  --pxScaleMultiplier: 1;
  height: fit-content;
  width: fit-content;
  opacity: 0;
  gap: calc(var(--pixelScale) * 4);
  transition: opacity 0.2s ease;
  position: fixed; /* Position relative to the viewport */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
#dialogueWrapper.show {
  opacity: 0.9;
  pointer-events: visible;
}

#dialogue {
  position: relative;
  left: calc(var(--pixelScale) * 6);
  top: calc(var(--pixelScale) * 6);
  min-width: calc(var(--pixelScale) * (6));
  max-width: calc(var(--pixelScale) * (182));
  padding-right: calc(var(--pixelScale) * 12);
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  font-size: 12px !important;
  color: rgb(97, 70, 60);
  z-index: 1001;
  padding-bottom: 30px;
}

.dropdown {
  position: absolute;
  background-image: url('./assets/uiDialogue.png');
  background-size: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 3) calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 2);
  padding: 0;
  border: none;
  opacity: 1;
  bottom: calc(var(--pixelScale) * -5);
  left: calc(var(--pixelScale) * 20);
  image-rendering: pixelated; /* Prevent anti-aliasing */
  width: calc(var(--pixelScale) * 12 * var(--pxScaleMultiplier)); /* 4px * 4px */
  height: calc(var(--pixelScale) * 8 * var(--pxScaleMultiplier));
  z-index: 10000;
}

#sideMenuWrapper.fade-out, #meterWrapper.fade-out, #articleWrapper.fade-out {
  opacity: 0; /* Make the element fade out */
}

#meterBG {
  position: relative;
  top: calc(var(--pixelScale) * 7);
  left: calc(var(--pixelScale) * 7);
  height: calc(var(--pixelScale) * 7);
  width: calc(var(--pixelScale) * (222 - 14));
  background-color: blue;
  box-shadow: 
    calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 0 red, /* Left */
    calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 0 red, /* Right */
    0 calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 red, /* Top */
    0 calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 red; /* Bottom */
  z-index: 1005;
}

#meterFG {
  background-color: lime;
  height: 100%;
  width: 66.6%;
  max-width: 100%;
}

#meterLabel {
  position: relative;
  top: calc(var(--pixelScale) * 9);
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  cursor: default;
  color: rgb(97, 70, 60);
  z-index: 1001;
}


#topContextWrapper {
  --pxScaleMultiplier: 1;
  display: flex;
  gap: calc(var(--pixelScale) * 4);
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  max-width: calc(var(--pixelScale) * 222);
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translateX(-50%);
  position: fixed; /* Position relative to the viewport */
  top: calc(var(--pixelScale) * 4);
  left: 50%;
  cursor: default;
  pointer-events: none;
}
#topContextWrapper.show {
  opacity: 0.97;
}
#topContextLabel {
  position: relative;
  padding: calc(var(--pixelScale) * 6);
  width: calc(var(--pixelScale) * 222);
  text-align: center;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
  pointer-events: none;
  cursor: default;
  color: rgb(97, 70, 60);
  z-index: 1001;
}
#topContextLabel.withImage {
  text-align: left;
}

#topContextImage {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  background-image: url(./assets/items.png);
  background-size: calc(var(--pixelScale) * 16 * 3) calc(var(--pixelScale) * 16 * 8);
  background-position-y: calc(var(--pixelScale) * 16 * -1);
  background-position-x: calc(var(--pixelScale) * 16 * -0);
  image-rendering: pixelated;
  padding: 0;
  min-height: calc(var(--pixelScale) * 16);
  min-width: calc(var(--pixelScale) * 16);
  left: calc(var(--pixelScale) * 6);
  align-self: center;
  z-index: 1;
  pointer-events: none;
  cursor: default;
  opacity: 1;
  transition: opacity 0.2s ease;
}
#topContextImage.show {
  display: block;
}

#meterIndicator {
  height: 15px;
  position: relative;
  opacity: 0.7;
  pointer-events: none;
  user-select: none; /* Modern browsers */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge (legacy) */
  -webkit-user-drag: none; /* Prevent dragging */
}

.pxDivWrapper {
  min-width: calc(var(--pixelScale) * 10 * var(--pxScaleMultiplier));
  min-height: calc(var(--pixelScale) * 10 * var(--pxScaleMultiplier));
  z-index: 1000;
}

.pxDivBG {
  height: calc(100% - (calc(var(--pixelScale) * 8 * var(--pxScaleMultiplier))));
  width: calc(100% - (calc(var(--pixelScale) * 8 * var(--pxScaleMultiplier))));
  background-color: var(--c1);
  margin: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier));
  box-shadow: 
    calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Left */
    calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 0 var(--c1), /* Right */
    0 calc(var(--pixelScale) * -1 * var(--pxScaleMultiplier)) 0 var(--c1), /* Top */
    0 calc(var(--pixelScale) * 1 * var(--pxScaleMultiplier)) 0 var(--c1), /* Bottom */
    calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Left */
    calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 0 var(--c2), /* Right */
    0 calc(var(--pixelScale) * -3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Top */
    0 calc(var(--pixelScale) * 3 * var(--pxScaleMultiplier)) 0 var(--c2), /* Bottom */
    calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Left */
    calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 0 var(--c3), /* Right */
    0 calc(var(--pixelScale) * -4 * var(--pxScaleMultiplier)) 0 var(--c3), /* Top */
    0 calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)) 0 var(--c3); /* Bottom */
  position: absolute; /* Position relative to the wrapper */
  top: 0;
  left: 0;
}
.corner {
  position: absolute;
  background-image: url('./assets/uiCorners2.png');
  background-size: calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 3) calc(var(--pixelScale) * var(--pxScaleMultiplier) * 4 * 3);
  padding: 0;
  border: none;
  image-rendering: pixelated; /* Prevent anti-aliasing */
  width: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier)); /* 4px * 4px */
  height: calc(var(--pixelScale) * 4 * var(--pxScaleMultiplier));
}
.corner.top-left {
  background-position: 0 0;
  top: 0;
  left: 0;
}
.corner.top-right {
  background-position: calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier)) 0;
  top: 0;
  right: 0;
}
.corner.bottom-left {
  background-position: 0 calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier));
  bottom: 0;
  left: 0;
}
.corner.bottom-right {
  background-position: calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier)) calc(var(--pixelScale) * -8 * var(--pxScaleMultiplier));
  bottom: 0;
  right: 0;
}

.fadeOut {
  transition: opacity 0.2 ease;
  opacity: 0;
}







@media (max-width: 930px) {
  #articleWrapper {
    top: calc(var(--pixelScale) * 28);
    left: 50%;
    width: calc(100% - (calc(var(--pixelScale) * 28 * 2.6)));
  }
  #articleWrapper.show {
    transform: translateX(-50%);
  }
}
@media (max-width: 908px) {
  #meterWrapper {
    width: calc(100vw - var(--pixelScale) * 140);
  }
  #topContextWrapper {
    max-width: calc(100vw - var(--pixelScale) * 140);
  }
  #meterBG {
    width: calc(100vw - var(--pixelScale) * (140 + 14));
  }
}
@media (max-width: 738px) {
  body.meter-open header * {
    opacity: 0;
    pointer-events: none;
  }
  #closeMeter {
    opacity: 0.9;
    pointer-events: visible;
  }
  #meterBG {
    width: calc(100% - var(--pixelScale) * (27));
  }
  #meterWrapper {
    width: calc(738px - var(--pixelScale) * 140);
  }
  #topContextWrapper {
    max-width: calc(738px - var(--pixelScale) * 140);
  }
}
@media (max-width: 618px) {
  body.article-open header * {
    opacity: 0;
    pointer-events: none; /* Disable interaction */
  }
  #articleWrapper {
    left: calc(((100vw - 280px) / 338) * (2.5 * 28));
    right: calc(((100vw - 280px) / 338) * (2.5 * 28));
    top: calc(((100vw - 280px) / 338) * (2.5 * 28));
    bottom: calc(((100vw - 280px) / 338) * (2.5 * 28));
    height: auto;
    width: auto;
  }
  #articleWrapper.show {
    transform: translateX(0);
  }
  .article {
    grid-template-columns: 1fr 0.9fr 0.1fr;
  }
  .reserved {
    background-color: transparent;
    grid-area: 1 / 3 / 2 / 4;
  }
}
@media (max-width: 524px) {
  #tasksWrapper {
    width: calc(100% - 19px);
  }
}
@media (max-width: 500px) {
  #dialogue {
    max-width: calc(100vw - var(--pixelScale) * (12 + 8));
  }
}
@media (max-width: 490px) {
  body.article-open header, body.meter-open header {
    transform: translateY(1500%); /* ensures no interactions */
  }
}
@media (max-width: 408px) {
  #meterBG {
    width: calc(100% - var(--pixelScale) * (27));
  }
  #meterWrapper {
    width: calc(100vw - var(--pixelScale) * 8);
  }
  #topContextWrapper {
    max-width: calc(100vw - var(--pixelScale) * 8);
  }
}
@media (max-width: 320px) {
  #sideMenuWrapper {
    left: 15px !important;
    right: auto;
  }
  #charSettingsWrapper {
    left: 0;
    transform: translateX(0);
    align-items: left;
  }
  .charSettingsWrapper {
    position: fixed;
    left: 0;
  }
  #articleWrapper {
    left: calc((48px / (618 - 320 + 48)) * (2.5 * 28));
    right: calc((48px / (618 - 320 + 48)) * (2.5 * 28));
    bottom: calc((48px / (618 - 320 + 48)) * (2.5 * 28));
    top: calc((48px / (618 - 320 + 48)) * (2.5 * 28));
    width: auto;
    height: auto;
  }
  #articleWrapper.show {
    transform: translateX(0);
  }
  #meterWrapper {
    width: calc(320px - var(--pixelScale) * (6));
  }
  #topContextWrapper {
    min-width: calc(320px - var(--pixelScale) * (6));
  }
  #meterBG {
    width: calc(100% - var(--pixelScale) * (27));
  }
  #dialogueWrapper {
    max-width: fit-content;
  }
  #dialogue {
    min-width: calc(320px - var(--pixelScale) * (12 + 8));
  }
  #tasksWrapper {
    left: 10px;
    transform: translate(0, -50%);
    width: 301px;
    min-width: 301px;
  }
  footer {
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
  }
}


@media (max-height: 320px) {
  #charSettingsWrapper {
    bottom: calc(var(--pixelScale) * 4); /* give enough space for iphone in landscape */
  }
  #inventoryWrapper {
    bottom: calc(var(--pixelScale) * 4); /* give enough space for iphone in landscape */
  }
  #mainGameMenuWrapper {
    bottom: calc(var(--pixelScale) * 6);
  }
  #dialogueContextWrapper {
    margin-bottom: calc(var(--pixelScale) * 4);
  }
}
@media (max-height: 720px) {
  #tasksWrapper {
    height: calc(100% - 145px);
  }
}