html, body {
  touch-action: none; /* Disables all touch gestures, including pinch zoom */
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  contain: strict;
  z-index: 1;
}

canvas {
  /* Enforce pixel-perfect scaling for pixel art */
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Fallback for older browsers */
}

main {
  --main-padding: 28pt;
  --main-width: calc(100vw - 2*(var(--main-padding))); /* Define a custom property */
  --main-tb-padding: clamp(12pt, calc(2vw + 12pt), 28pt);
  visibility: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
  padding-top: var(--main-tb-padding);
  padding-bottom: var(--main-tb-padding);
  width: var(--main-width);
  height: calc(100% - 2*(var(--main-padding)));
  overflow: hidden;
  z-index: 0;
}
@media (max-width: calc(460px + 2*28pt)) {
  main {
    --main-padding: clamp(12pt, calc(2vw + 12pt), 28pt);
  }
}

#topIslandUI {
  position: relative;
  border-radius: 16pt;
  padding: 16pt;
  top: 0;
  left: 0;
  display: none;
  align-self: center;
  width: calc(var(--main-width) - 2*(16pt));
  max-width: calc(460px - 2*(16pt));
  height: fit-content;
  background-color: rgba(44, 44, 49, 0.9);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;
}
#topIslandUI.lightMode {

  background-color: rgba(246, 246, 249, 0.9);
}

#bottomIslandGuideUI {
  position: absolute;
  border-radius: 12pt;
  padding: 12pt;
  margin-bottom: var(--main-tb-padding);
  bottom: 0;
  display: none;
  align-self: center;
  text-align: center;
  width: fit-content;
  max-width: calc(460px - 2*(16pt));
  height: 0;
  background-color: rgba(44, 44, 49, 0.8); /* Default background color */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;

  /* Apply animation */
  animation: fadeOpacity 2s infinite; /* 2s duration, looping infinitely */
}
#bottomIslandGuideUI.lightMode {
  background-color: rgba(247, 247, 250, 0.8); /* Default for light mode */
}
@keyframes fadeOpacity {
  0% {background-color: rgba(44, 44, 49, 0.4);}
  50% {background-color: rgba(44, 44, 49, 0.8);}
  100% {background-color: rgba(44, 44, 49, 0.4);}
}
#bottomIslandGuideUI.lightMode {
  /* Separate animation for light mode */
  animation: fadeOpacityLight 2s infinite;
}
@keyframes fadeOpacityLight {
  0% {background-color: rgba(247, 247, 250, 0.4);}
  50% {background-color: rgba(247, 247, 250, 0.8);}
  100% {background-color: rgba(247, 247, 250, 0.4);}
}

form {
  all: unset;
  position: absolute;
  align-self: center;
  display: none;
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  bottom: var(--main-tb-padding);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;
}

input {
  all: unset;
  align-self: center;
  border-radius: 100pt; /* yep */
  border-style: solid;
  border-width: calc(2pt + 1px);
  padding: 2pt 6pt 2pt 6pt;
  margin: 0;
  width: calc(var(--main-width) - 2*(6pt) - 7px);
  max-width: calc(360px - 2*(6pt) - 7px);
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 12pt;
  color: white;
  border-color: hsla(240, 4%, 18%, 0.9);
  background-color: hsla(240, 4%, 18%, 0.5);
  --placeholderTextColor: hsla(240, 3%, 22%, 0.9);
}
input.lightMode {
  color: rgb(22, 22, 22);
  border-color: hsla(240, 20%, 97%, 0.8);
  background-color: hsla(240, 20%, 97%, 0.5);
  --placeholderTextColor: hsla(240, 5%, 91%, 0.8);
}
input::placeholder {
  color: var(--placeholderTextColor);
}

#bottomIslandButtonsUI {
  position: absolute;
  border-radius: 18pt;
  padding: 18pt 6pt 20pt 6pt;
  gap: 6pt;
  margin-bottom: var(--main-tb-padding);
  bottom: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  align-self: center;
  width: fit-content;
  min-width: fit-content;
  height: 0;
  background-color: hsla(240, 5%, 18%, 0.9); /* Default background color */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;
  --buttonResting: hsl(240, 3%, 30%);
  --buttonHover: hsl(240, 3%, 26%);
  --buttonActive: hsl(240, 3%, 26%);
  --shadowResting: hsl(240, 5%, 18%);
  --shadowHover: hsl(240, 5%, 16%);
}
#bottomIslandButtonsUI.lightMode {
  background-color: hsla(240, 23%, 97%, 0.9); /* Default for light mode */
  --buttonResting: hsl(240, 21%, 100%);
  --buttonHover: hsl(240, 21%, 96%);
  --buttonActive: hsl(240, 21%, 96%);
  --shadowResting: hsl(240, 23%, 88%);
  --shadowHover: hsl(240, 23%, 86%);
}

.buttonWrapper {
  position: relative;
  display: inline-flex; /* Prevent shadow overlap with other buttons */
  border-radius: 14pt;
  margin-top: -14pt;
  height: calc(2*14pt + 2pt);
}

.shadowButton {
  visibility: visible;
  padding: 0;
  border-radius: 14pt;
  height: 28pt;
  margin-top: 2pt;
  background-color: var(--shadowResting);
  z-index: 0;
}
.shadowButton.hover {
  background-color: var(--shadowHover);
}
.shadowButton.active {
  visibility: none;
}

button {
  all: unset;
  position: relative;
  border-radius: 14pt;
  text-align: center;
  min-width: fit-content;
  padding: 14pt;
  height: 0;
  top: -2pt;
  background-color: var(--buttonResting);
  z-index: 100;
}
button.hover {
  background-color: var(--buttonHover);
}
button.active {
  background-color: var(--buttonActive);
  transform: translateY(2pt);
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 48pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  display: inline-block;
  font-size: 12pt;
}

#animatedText {
  display: block;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
}
#animatedText.lightMode {
  color: rgb(22, 22, 22);
}

#bottomIslandGuideText {
  display: block;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
  margin-top: -8pt;
}
#bottomIslandGuideText.lightMode {
  color: rgb(22, 22, 22);
}

.buttonText {
  display: block;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: nowrap;
  margin-top: -8pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.buttonText.lightMode {
  color: rgb(22, 22, 22);
}

.word {
  display: inline-block;
  opacity: 0; /* Initially hide the word */
}

.char {
  display: inline-block;
  opacity: 0; /* Start with invisible characters */
  animation: fadeInUp 0.4s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}