#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  contain: strict;
  z-index: 1;
}

main {
  --main-padding: 28pt;
  --main-width: calc(100vw - 2*(var(--main-padding))); /* Define a custom property */
  visibility: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
  padding-top: clamp(12pt, calc(2vw + 12pt), 28pt);
  width: var(--main-width);
  height: calc(100% - 2*(var(--main-padding)));
  overflow: hidden;
  z-index: 0;
}
@media (max-width: calc(460px + 2*28pt)) {
  main {
    --main-padding: clamp(12pt, calc(2vw + 12pt), 28pt);
  }
}

#topIslandUI {
  position: relative;
  border-radius: 16pt;
  padding: 16pt;
  top: 0;
  left: 0;
  display: flex;
  align-self: center;
  width: calc(var(--main-width) - 2*(16pt));
  max-width: calc(460px - 2*(16pt));
  height: fit-content;
  background-color: #2C2C31e5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;
}
#topIslandUI.lightMode {
  /* background-color: #f7f7fa;*/
  background-color: #f7f7fae5;
}

#bottomIslandGuideUI {
  position: absolute;
  border-radius: 12pt;
  padding: 12pt;
  margin-bottom: var(--main-padding);
  bottom: 0;
  display: flex;
  align-self: center;
  text-align: center;
  width: fit-content;
  max-width: calc(460px - 2*(16pt));
  height: 0;
  background-color: rgba(44, 44, 49, 0.8); /* Default background color */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;

  /* Apply animation */
  animation: fadeOpacity 2s infinite; /* 2s duration, looping infinitely */
}
#bottomIslandGuideUI.lightMode {
  background-color: rgba(247, 247, 250, 0.8); /* Default for light mode */
}
@keyframes fadeOpacity {
  0% {background-color: rgba(44, 44, 49, 0.4);}
  50% {background-color: rgba(44, 44, 49, 0.8);}
  100% {background-color: rgba(44, 44, 49, 0.4);}
}
#bottomIslandGuideUI.lightMode {
  /* Separate animation for light mode */
  animation: fadeOpacityLight 2s infinite;
}
@keyframes fadeOpacityLight {
  0% {background-color: rgba(247, 247, 250, 0.4);}
  50% {background-color: rgba(247, 247, 250, 0.8);}
  100% {background-color: rgba(247, 247, 250, 0.4);}
}

#startMenu {
  display: none;
  visibility: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2C2C31e5;
}
#startMenu.init {
  display: grid;
  visibility: visible;
  grid-template-columns: 1fr 500pt 1fr;
  grid-template-rows: 1fr 80pt 100pt 40pt 1fr;
}
#startMenu.lightMode {
  background-color: #EAE9EFe5;
}

#startMenuTitle {
  display: grid;
  color: white;
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}
#startMenuTitle.lightMode {
  color: rgb(22, 22, 22);
}

#startMenuDescription {
  display: grid;
  color: white;
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
}
#startMenuDescription.lightMode {
  color: rgb(22, 22, 22);
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 48pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  display: inline-block;
  font-size: 12pt;
}

#animatedText {
  display: block;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
}
#animatedText.lightMode {
  color: rgb(22, 22, 22);
}

#bottomIslandGuideText {
  display: block;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
  margin-top: -8pt;
}
#bottomIslandGuideText.lightMode {
  color: rgb(22, 22, 22);
}

.word {
  display: inline-block;
  opacity: 0; /* Initially hide the word */
}

.char {
  display: inline-block;
  opacity: 0; /* Start with invisible characters */
  animation: fadeInUp 0.4s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}